site-logo{
    max-height: 150px;
}


h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #75b8fb;
    margin-bottom: 15px;
}
body{
    background-color: rgb(87, 85, 90);
}
